*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFF;
    max-width: 1366px;
    display: flex;
    justify-content: center;
}

.container{

    background-color: #000;
    width: 80%;
    height: 500px;

}