@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}

body{
    background-color: #FFF;
    max-width: 1366px;
    display: flex;
    justify-content: center;
}

.container{
    
    width: 80%;
    height: 500px;

}

header{

    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;

}

nav{
    display: flex;
}

.desktop-tablet{
    width: 270px;
    display: flex;
    justify-content: space-between;
}

.desktop-tablet a{
    text-decoration: none;
    color: #000;
}

.menu:hover{
    border-bottom: 1px solid #000;
}