@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    color: #FFF;
}

body{
    background-color: #000;
    max-width: 1366px;
    display: flex;
    justify-content: center;
}

.container{
    
    width: 80%;
    height: 500px;

}

header{

    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;

}

.logo{
    width: 300px;
    height: 250px;
    background-image: url(../img/logo.png);
    background-size: cover;
    
}

nav{
    display: flex;
}

.desktop-tablet{
    width: 270px;
    display: flex;
    justify-content: space-between;
}

.desktop-tablet a{
    text-decoration: none;
    
}

.menu:hover{
    border-bottom: 1px solid #FFF;
}

.banner{
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.author-picture{
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-image: url(../img/author.png);
    background-size: cover;
    border: 2px solid #FFF;
}

.quote{
    width: 80%;
    font-size: 22px;
    text-align: justify;
}

main{
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.projects-title{
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.project-item{
    width: 300px;
    height: 250px;
    margin: 10px;
    background-color: aqua;
}