@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    color: #FFF;
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

*::-webkit-scrollbar {
    display: none; 
  }

body{
    background-color: #000;
    max-width: 1366px;
    display: flex;
    justify-content: center;
}

.container{
    
    width: 80%;
    height: 500px;

}

header{

    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;

}

.logo{
    width: 300px;
    height: 250px;
    background-image: url(../img/logo.png);
    background-size: cover;
    
}

nav{
    display: flex;
}

.menu-container{
    height: 32px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.contacts :hover{
   
    transition: all ease 200ms;
    transform: scale(1.25);
    
}

.banner{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.author-picture{
    width: 120px;
    height: 120px;
    border-radius: 60px;
    background-image: url(../img/author.png);
    background-size: cover;
    border: 2px solid #FFF;
}

.quote{
    width: 80%;
    margin-left: 25px;
    font-size: 22px;
    text-align: justify;
}

main{
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.projects a :hover {
    transition: all ease 250ms;
    transform: scale(1.15);
}

.projects-title, .techs-title{
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.project-item{
    width: 300px;
    height: 250px;
    margin: 10px;
    border-radius: 20px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}

.project-item legend{
    width: 100%;
    height: 83px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    opacity: 0.8;
    font-size: 22px;
    font-weight: 600;

}

#project1{
    background-image: url(../img/emCartaz.png);
}

#project2{
    background-image: url(../img/realestate.png);
}

#project3{
    display: none;
}

.technologies{
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.techs-title{
    margin-top: 50px;
    margin-bottom: 25px;
}

.techItem{
    padding: 25px;
}

.techItem :hover{
    transition: all ease 250ms;
    transform: translateY(-25px);
}

.container-footer{

    display: flex;
    justify-content: center;
    width: 100%;
    height: 55px;

}


.footer-bar{

    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 13px;

}


.footer-content{

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

@media (max-width: 906px){
    
    .quote{
        margin-top: 60px;
    }
    
}

@media (max-width: 799px){
    
    #project2{
        margin-top: 40px;
    }
    
}